@import '../../styles/variables.css';

.table-head {
  text-align: center;
  font-size: 1.5em;
}

table {
  background-color: $light-grey;
  border-radius: .5rem;
  width: 100%;
  tbody {
    font-size: 1.3em;
    th, td {
      padding: .5rem;
      text-align: center;
    }
    th {
      border-bottom: .1rem solid black;
    }
  }
}