@import '../../styles/variables.css';

.replay-box {
  text-align: center;
  button {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    display: block;
    font-size: 1.2em;
    border-radius: .5rem;
    background-color: $red;
    color: white;
    padding: .25rem 0;
  }
}
