@import '../../styles/variables.css';

.letters-container {
  text-align: center;
  .letter {
    font-size: 1.5em;
    margin-right: .5rem;
    width: 3rem;
    margin-top: .5rem;
    background-color: $red;
    color: white;
    border-radius: .5rem;
    &:disabled {
      background-color: $darkest-red;
      color: $red;
    }
  }
}

.slide-up-appear {
  opacity: 0;
  transform: translateY(10px);
  transition: all .5s ease-in;
  
  &.slide-up-appear-active {
      opacity: 1;
      transform: translateY(0px);
  }
}